[submodule "eventy-be"]
	path = eventy-be
	url = https://github.com/MedtechSeniorProject/eventy-be/
	branch = dockerized
[submodule "eventy-fe"]
	path = eventy-fe
	url = https://github.com/MedtechSeniorProject/eventy-fe/
	branch = dockerized
